.content {
  height: 100%;
}
::ng-deep .mat-card {
  font-family: MontesseratSemiBold !important;
  color: #5e56e7 !important;
  background-color: #f8f7ff;
  width: 100%;
  height: 100%;
  padding: 5% !important;
}
