<div class="content" [ngClass]="selectedCategory ? 'bookHeight' : 'homeHeight'">
  <div *ngIf="!selectedCategory; else category" class="home">
    <div>
      <div class="title">Gutenburg Project</div>

      <div class="subtitle">
        A social cataloging website that allows you to freely search its
        database of books, annotations, and reviews.
      </div>
    </div>
    <!-- <div> -->
    <div class="bookList">
      <div
        type="button"
        class="category-art"
        *ngFor="let category of categories"
        (click)="selectCategory(category.value)"
      >
        <img src="{{ category.img }}" class="categoryImage" />
        <span class="spaceLeft">{{ category.name }}</span>
        <div class="spaceRight">
          <img src="../../../assets/img/Next.svg" alt="next" />
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <ng-template #category>
    <div>
      <span>
        <img
          src="../../../assets/img/Back.svg"
          alt="back"
          (click)="selectedCategory = null; value = ''"
        />
        <label class="subheading">{{ selectedCategory }}</label> </span
      ><br />
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="value"
        (keyup)="findBook($event)"
      />
      <span
        mat-button
        *ngIf="value"
        mat-elevation-z2
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''; $event.stopPropagation()"
        ><img src="../../../assets/img/Cancel.svg" class="cancel" alt="" />
      </span>
    </div>
    <div class="bookList">
      <div
        (click)="openBook($event, book)"
        type="button"
        class="mat-body album-art"
        *ngFor="let book of filteredData"
      >
        <img
          mat-card-image
          src="{{ book.formats['image/jpeg'] }}"
          alt="bookCover"
        />
        <div class="book-title">
          {{ book.title }}
        </div>
        <span *ngFor="let author of book.authors" class="author-name">
          {{ author.name.split(",").join("") }}
        </span>
      </div>
    </div>
  </ng-template>
</div>
