.height100 {
  height: 100%;
  color: #5e56e7 !important;
}

::ng-deep mat-card-content {
  padding-top: 5%;
}
.home ::ng-deep figure.mat-figure {
  justify-content: space-between !important;
}

.spaceRight {
  padding-right: 2% !important;
}
.home ::ng-deep .mat-grid-tile .mat-figure {
  padding-left: 2% !important;
}
::ng-deep .mat-card-header .mat-card-title {
  font-size: 48px !important;
  justify-content: center;
}
.home ::ng-deep .mat-grid-tile {
  border-radius: 4px !important;
  margin-bottom: 20px !important;
  border: 5px soild black;
  font-family: MontesseratSemiBold !important;
  height: 50px !important;
  background-color: white !important;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}
.bookList ::ng-deep .mat-grid-tile {
  /* margin-bottom: 20px !important; */
  width: 114px !important;
  height: 300px !important;
  background-color: #f0f0f6;
  border-radius: 8px 8px 0 0 !important;
  font-family: 12px !important ;
  /* color: white !important; */
  font-family: MontesseratSemiBold !important;
}
.bookList ::ng-deep .mat-card-image {
  /* margin-bottom: 20px !important; */
  width: 114px !important;
  height: 162px !important;
  margin: 0px !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5) !important;
  font-family: MontesseratSemiBold !important;
}
.bookList ::ng-deep figure.mat-figure {
  justify-content: space-between !important;
}

.bookList ::ng-deep .mat-grid-tile .mat-figure {
  display: block !important;
}
