.content {
  /* font-family: "Montesserat, SemiBold" !important; */
  color: #5e56e7 !important;
  background-color: #f8f7ff;
  width: 100%;
  padding: 5% !important;
}
.title {
  font-size: 48px;
}
.subtitle {
  font-size: 20px;
  color: #333333;
  padding-top: 3%;
}
.bookHeight {
  min-height: max-content;
}
.homeHeight {
  /* height: 100%; */
}

.spaceRight {
  padding-right: 2% !important;
}
.bookList ::ng-deep .mat-card-image {
  /* margin-bottom: 20px !important; */
  width: 114px !important;
  height: 162px !important;
  margin: 0px !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5) !important;
  /* font-family: "Montesserat, SemiBold" !important; */
}
.bookList ::ng-deep figure.mat-figure {
  justify-content: space-between !important;
}

.bookList ::ng-deep .mat-grid-tile .mat-figure {
  display: block !important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-form-field {
  width: 200px;
}

.example-full-width {
  width: 100%;
}

.home .bookList {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 15% !important;
  flex-flow: row wrap;
}
.bookList {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 5%;
  flex-flow: row wrap;
}

.album-art {
  display: flex;
  flex-direction: column;
}
.spaceLeft {
  padding-left: 2%;
  font-size: 22px;
  color: #333333;
}
.category-art {
  display: flex !important;
  flex-flow: row wrap;
  align-items: center;
  width: 350px;
  border-radius: 4px !important;
  margin-bottom: 20px !important;
  justify-content: space-around;
  border: 5px soild #333333;
  /* font-family: MontesseratSemiBold !important; */
  height: 50px !important;
  background-color: white !important;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}
.author-name {
  word-wrap: break-word;
  width: 150px;
  color: #a0a0a0;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.book-title {
  word-break: break-word;
  width: 114px;
  font-size: 12px;
  color: #333333;
}
form {
  display: flex;
  flex-direction: row;
}
input {
  border-radius: 4px !important;
  padding-left: 6% !important;
  width: 97%;
  height: 40px !important;
  border: 1px solid #f8f7ff;
  /* background-color:  !important; */
  background: #f0f0f6 url("../../../assets/img/Search.svg") 2% no-repeat !important;
}
input:focus-visible {
  border: 1px soild #5e56e7 !important;
}
.categoryImage {
  height: 45px;
  object-fit: contain;
}
.cancel {
  margin-left: -4%;
  cursor: pointer !important;
}
.subheading {
  font-size: 30px !important;
  vertical-align: middle !important;
  padding-left: 2% !important;
}
.img,
.svg {
  cursor: pointer !important;
}
