<div *ngIf="!selectedCategory; else category" class="home">
  <mat-card-header gutterBottom>
    <mat-card-title>Gutenburg Project</mat-card-title>
    <mat-card-subtitle
      >A social cataloging website that allows you to freely search its database
      of books, annotations, and reviews.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list [cols]="isMobile ? 1 : 2" rowHeight="100px">
      <mat-grid-tile
        type="button"
        class="mat-body d-flex mat-elevation-z2"
        *ngFor="let category of categories"
        (click)="selectCategory(category.value)"
      >
        <!-- <span class="fullWidth"> -->
        <img src="{{ category.img }}" class="categoryImage" />
        <span class="flex-remain">{{ category.name }}</span>
        <div class="spaceRight">
          <img src="../../../assets/img/Next.svg" alt="next" />
        </div>
        <!-- </span> -->
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>
<ng-template #category>
  <div>
    <!-- <mat-form-field class="example-form-field"> -->
    <!-- <form onSubmit=> -->
    <!-- <a [routerLink]="['/home']"> -->
    <span>
      <img
        src="../../../assets/img/Back.svg"
        alt="back"
        (click)="selectedCategory = null"
      />
      <!-- </a> -->
      <label class="subheading">{{ selectedCategory }}</label> </span
    ><br />
    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="value"
      (keyup)="findBook($event)"
    />
    <span
      mat-button
      *ngIf="value"
      mat-elevation-z2
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
      ><img src="../../../assets/img/Cancel.svg" class="cancel" alt="" />
    </span>
    <!-- </mat-form-field> -->
    <!-- </form> -->
  </div>
  <div class="bookList">
    <mat-card-content>
      <mat-grid-list [cols]="isMobile ? 3 : 6" rowHeight="100px">
        <div *ngIf="userFilteredData.length; else noUserFilter">
          <mat-grid-tile
            type="button"
            class="mat-body d-flex"
            *ngFor="let book of userFilteredData"
          >
            <div>
              <img
                mat-card-image
                src="{{ book.formats['image/jpeg'] }}"
                alt="bookCover"
              />
              <div>
                {{ book.title }}
              </div>
              <div *ngFor="let author of book.authors">
                {{ author.name.split(",").join("") }}
              </div>
            </div>
          </mat-grid-tile>
        </div>
        <ng-template #noUserFilter>
          <mat-grid-tile
            type="button"
            class="mat-body d-flex"
            *ngFor="let book of filteredData"
          >
            <div>
              <img
                mat-card-image
                src="{{ book.formats['image/jpeg'] }}"
                alt="bookCover"
              />
              <div>
                {{ book.title }}
              </div>
              <div *ngFor="let author of book.authors">
                {{ author.name.split(",").join("") }}
              </div>
            </div>
          </mat-grid-tile>
        </ng-template>
      </mat-grid-list>
      <mat-grid-list
        [responsive]="responsive"
        (responsiveColsChange)="cols = $event"
        rowHeight="60"
        gutterSize="6px"
      >
        <!-- <mat-grid-tile *ngFor="let book of userFilteredData"> -->
          <a class="grid-list-item mat-body mat-elevation-z2" mat-ripple>
            <!-- <mat-icon>insert_drive_file</mat-icon>
            <span class="flex-remain">{{ folder.name }}</span> -->
            <div *ngIf="userFilteredData.length; else noUserFilter">
              <mat-grid-tile
                type="button"
                class="mat-body d-flex"
                *ngFor="let book of userFilteredData"
              >
                <div>
                  <img
                    mat-card-image
                    src="{{ book.formats['image/jpeg'] }}"
                    alt="bookCover"
                  />
                  <div>
                    {{ book.title }}
                  </div>
                  <div *ngFor="let author of book.authors">
                    {{ author.name.split(",").join("") }}
                  </div>
                </div>
              </mat-grid-tile>
            </div>
            <ng-template #noUserFilter>
              <mat-grid-tile
                type="button"
                class="mat-body d-flex"
                *ngFor="let book of filteredData"
              >
                <div>
                  <img
                    mat-card-image
                    src="{{ book.formats['image/jpeg'] }}"
                    alt="bookCover"
                  />
                  <div>
                    {{ book.title }}
                  </div>
                  <div *ngFor="let author of book.authors">
                    {{ author.name.split(",").join("") }}
                  </div>
                </div>
              </mat-grid-tile>
            </ng-template>
            <!-- <button mat-icon-button 
          [matMenuTriggerFor]="menu"
          (click)="$event.preventDefault()">
          <mat-icon>more_vert</mat-icon>
        </button> -->
            <!-- <mat-menu #menu="matMenu" 
          xPosition="before"
          overlapTrigger="false">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu> -->
          </a>
        <!-- </mat-grid-tile> -->
      </mat-grid-list>
    </mat-card-content>
  </div>
</ng-template>
