.height100 {
  height: 100%;
  color: #5e56e7 !important;
}

::ng-deep mat-card-content {
  padding-top: 5%;
}
.home ::ng-deep figure.mat-figure {
  justify-content: space-between !important;
}

.spaceRight {
  padding-right: 2% !important;
}
.home ::ng-deep .mat-grid-tile .mat-figure {
  padding-left: 2% !important;
}
::ng-deep .mat-card-header .mat-card-title {
  font-size: 48px !important;
  justify-content: center;
  font-family: MontesseratSemiBold !important;
}
.home ::ng-deep .mat-grid-tile {
  border-radius: 4px !important;
  margin-bottom: 20px !important;
  border: 5px soild black;
  font-family: MontesseratSemiBold !important;
  height: 50px !important;
  background-color: white !important;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}
.bookList ::ng-deep .mat-grid-tile {
  /* margin-bottom: 20px !important; */
  width: 114px !important;
  height: 250px !important;
  background-color: #f8f7ff;
  border-radius: 8px 8px 0 0 !important;
  font-family: 12px !important ;
  /* color: white !important; */
  font-family: MontesseratSemiBold !important;
}
.bookList ::ng-deep .mat-card-image {
  /* margin-bottom: 20px !important; */
  width: 114px !important;
  height: 162px !important;
  margin: 0px !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5) !important;
  font-family: MontesseratSemiBold !important;
}
.bookList ::ng-deep figure.mat-figure {
  justify-content: space-between !important;
}

.bookList ::ng-deep .mat-grid-tile .mat-figure {
  display: block !important;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-form-field {
  width: 200px;
}

.example-full-width {
  width: 100%;
}
form {
  display: flex;
  flex-direction: row;
}
input {
  border-radius: 4px !important;
  padding-left: 6% !important;
  width: 97%;
  height: 40px !important;
  border-color: #f0f0f6 !important;
  /* background-color:  !important; */
  background: #f0f0f6 url("../../../assets/img/Search.svg") 2% no-repeat !important;
}
input .focus {
  border-color: #5e56e7 !important;
}
.categoryImage {
  height: 45px;
  object-fit: contain;
}
.cancel {
  margin-left: -3%;
}
.subheading {
  font-size: 30px !important;
  vertical-align: middle !important;
  padding-left: 2% !important;
}
.fullwidth {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  text-decoration: none;
  padding: 4px;
  width: calc(100% - 10px);
}
.grid-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #fff;
  text-decoration: none;
  padding: 4px;
  width: calc(100% - 10px);
  /* &:hover {
    color: mat-color($app-primary);
  } */

  /* .mat-icon:first-child {
    text-align: center;
    width: 40px;
  } */
}
.img,
.svg {
  cursor: pointer !important;
}
